dolphindb==1.30.22.6
empyrical==0.5.5
fastcache==1.1.0
ipython==8.12.2
joblib==1.3.2
jqdatasdk==1.9.2
matplotlib==3.7.4
numpy==1.24.3
numpy==1.23.5
pandas==2.0.3
plotly==5.18.0
pyqlib==0.9.3
scipy==1.11.4
seaborn==0.13.1
six==1.16.0
st_annotated_text==4.0.1
statsmodels==0.14.0
streamlit==1.29.0
streamlit_antd_components==0.2.4
streamlit_lottie==0.0.5
